<a href="https://colab.research.google.com/github/mariadev2/Curso-logica-de-programa-o/blob/main/Desafio_para_Est%C3%A1gio_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np

#importar tabela
tabela= pd.read_csv("last-30d-facebook.csv")

#apagar linhas com valores vazios
tabela=tabela.dropna()

#apagar linha 5 que nao estava ajudando na visualizaçao
tabela=tabela.drop(5, axis=0)

#renomear titulos
tabela=tabela.rename(columns={'Unnamed: 0': 'Campanha','Unnamed: 2':'Evento Otimizador','Unnamed: 1':'Base Usuarios','Unnamed: 3':'Midia','Unnamed: 4':'Gasto','Unnamed: 5':'Ivestimento alocado','Unnamed: 6':'Clicks','Unnamed: 7':'Impressoes', 'Unnamed: 8':'Sessões','Unnamed: 9':'Conversao','Unnamed: 10':'Receita','Unnamed: 11':'Primeira compra'})

#tabela = tabela.loc[6:17].eval('Lucro = Receita - Gasto)

#print('exibir somente coluna de campanha, gasto, investimento alocado e receita')
display(tabela.iloc[:,[0,4,5,10]])

#exibir somente coluna de campanha, clicks,impressoes e conversao
display(tabela.iloc[:,[0,6,7,9]])

#Colocar a tabela em ordem crescente baseada na coluna clicks
tabela.sort_values("Clicks", axis = 0, ascending = True,inplace = True, na_position ='last')

#C	R$ 9.000	R$ 8.000	R$ 18.810
#E	R$ 1.000	R$ 1.500	R$ 9.476
#K	R$ 1.050	R$ 2.500	R$ 14.000

   report_month    product  investment
0       2020-01  product_C  28693.9200
1       2020-01  product_D   6186.4400
2       2020-02  product_C  45922.0700
3       2020-02  product_D   6389.7800
4       2020-03  product_C  32820.3900
5       2020-03  product_D  15922.6700
6       2020-04  product_B   8596.7000
7       2020-04  product_C  29192.6000
8       2020-04  product_D   9870.9600
9       2020-05  product_B  31033.6600
10      2020-05  product_C  19019.0000
11      2020-05  product_D   4301.9500
12      2020-06  product_A  53457.5200
13      2020-06  product_B  14666.4500
14      2020-06  product_C  20794.9700
15      2020-06  product_D   4055.8400
16      2020-07  product_A  70477.4000
17      2020-07  product_B  20615.9800
18      2020-07  product_C  48491.8800
19      2020-07  product_D  21803.1800
20      2020-07  product_E      0.0000
21      2020-08  product_A  48659.8300
22      2020-08  product_B  17372.8500
23      2020-08  product_C  40238.8025
24      2020-08  product_D  15854.2425
25      2020-08  product_E      0.0000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   report_month  26 non-null     object
 1   product       26 non-null     object
 2   investment    26 non-null     float64
dtypes: float64(1), object(2)
memory usage: 752.0+ bytes

   Campanha      Gasto Ivestimento alocado    Receita
6         A   R$ 5.000            R$ 4.500  R$ 13.300
7         B  R$ 15.000           R$ 20.000  R$ 21.375
8         C   R$ 9.000            R$ 8.000  R$ 18.810
9         D  R$ 12.900           R$ 13.000  R$ 12.010
10        E   R$ 1.000            R$ 1.500   R$ 9.476
11        F     R$ 400            R$ 2.500   R$ 2.639
12        G     R$ 250              R$ 600   R$ 2.494
13        H  R$ 10.000           R$ 12.000   R$ 9.120
14        I  R$ 12.000           R$ 12.000   R$ 8.424
15        J  R$ 21.500           R$ 20.000  R$ 15.104
16        K   R$ 1.050            R$ 2.500  R$ 14.000
17        L     R$ 100            R$ 1.000     R$ 911

   Campanha  Clicks Impressoes Conversao
6         A  20.000  2.000.000       133
7         B  30.000  3.333.333       143
8         C  60.000  7.500.000       342
9         D  25.800  1.720.000       123
10        E   5.000    505.051        71
11        F     444     17.778        11
12        G     500    333.333         7
13        H  30.000  5.000.000       120
14        I  15.000  1.666.667       187
15        J  37.504  3.261.217       256
16        K   1.500     60.000        56
17        L      80      4.211         2

In [11]:
import pandas as pd
tabela1= pd.read_csv("quiz-sample.csv")
tabela1.columns=('ID', 'SEXO','IDADE','PELE','SEPELESENSIVEL','ESTADO','DATA','PREOCUPACAO','SETEMPREOCUPACAO')
#display(tabela1)
display(tabela1.iloc[:,[8]])
#display(tabela1)

#Exibir a quantidade de vezes que aparece cada situação
display(tabela1['PREOCUPACAO'].mode())
display(tabela1)

        SETEMPREOCUPACAO
0                      0
1                      1
2                      0
3                      1
4                      0
...                  ...
213019                 0
213020                 0
213021                 0
213022                 0
213023                 0

[213024 rows x 1 columns]

0               pp_bolsas_abaixo_olhos
1                pp_cicatrizes_espinha
2     pp_cicatrizes_machucado_cirurgia
3                            pp_cravos
4                        pp_descamacao
5                    pp_excesso_brilho
6                    pp_flacidez_rosto
7                      pp_linhas_finas
8                   pp_manchas_brancas
9                   pp_manchas_escuras
10                          pp_melasma
11                  pp_muitas_espinhas
12           pp_nao_tenho_preocupacoes
13                       pp_oleosidade
14                         pp_olheiras
15                           pp_pintas
16                  pp_poros_dilatados
17                  pp_poucas_espinhas
18                     pp_ressecamento
19                          pp_rosacea
20                            pp_rugas
21                           pp_sardas
22               pp_vasinhos_aparentes
23                      pp_vermelhidao
dtype: object

,ID,SEXO,IDADE,PELE,SEPELESENSIVEL,ESTADO,DATA,PREOCUPACAO,SETEMPREOCUPACAO
0,z85vnNzPszkToYzZaCiiqguiaoRFey3ssxUyrla0KwU=,Mulher,Entre 18 e 24 anos,Mista,0,Rio Grande do Sul - RS,2021-07-11,pp_bolsas_abaixo_olhos,0
1,qJX1qjRTIrxsLRk4Altj4fG2/UQi2A0DFyfUk7jnL6c=,Homem,Entre 18 e 24 anos,Normal,0,Paraíba - PB,2021-07-06,pp_bolsas_abaixo_olhos,1
2,15amHiG6TcaEqYX7irM7vWPhkrJWcQ+DEUzKPMkGLVc=,Homem,Entre 18 e 24 anos,Normal,1,Bahia - BA,2021-06-30,pp_bolsas_abaixo_olhos,0
3,MRzwwVtTWEJk7c93frTnXuSY7/VHrMZQBQxslvoAKiw=,Mulher,Entre 18 e 24 anos,Mista,1,Paraná - PR,2021-06-25,pp_bolsas_abaixo_olhos,1
4,MMYx9aY/oQljcIN1bL7e2/z1whUpHPPTX+8TBJPAWzM=,Mulher,Entre 18 e 24 anos,Não sei,1,Paraná - PR,2021-06-24,pp_bolsas_abaixo_olhos,0
...,...,...,...,...,...,...,...,...,...
213019,nGzZyKQrOMWr0iQ4gE//Gx8UK+10VTadD9R+WHIjraQ=,Mulher,Entre 35 e 39 anos,Oleosa,0,São Paulo - SP,2019-04-11,pp_nao_tenho_preocupacoes,0
213020,O9hfKxZ1IeEz4sgr/nncEW1TeIRQtOYbx3oUTPVnWY4=,Mulher,Entre 35 e 39 anos,Oleosa,0,Pará - PA,2020-04-09,pp_nao_tenho_preocupacoes,0
213021,2T4dtiohhaXXOucpsBEA+VhiUG2RTSEeup9hYAuoeMo=,Mulher,Entre 45 e 49 anos,Oleosa,0,Espírito Santo - ES,2020-02-24,pp_nao_tenho_preocupacoes,0
213022,klspdapSdyvVmOLBNLQH/ob4K7G1UD12xbMKy9CKXBg=,Mulher,Entre 40 e 44 anos,Mista,1,Espírito Santo - ES,2019-09-17,pp_nao_tenho_preocupacoes,0
213023,RAjxQiRQNjiAJe9P0xtUU/B2oil4sgYCFDKicJCGqS0=,Mulher,Entre 35 e 39 anos,Mista,1,São Paulo - SP,2019-09-02,pp_nao_tenho_preocupacoes,0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 16 to 17
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Campanha             12 non-null     object
 1   Base Usuarios        12 non-null     object
 2   Evento Otimizador    12 non-null     object
 3   Midia                12 non-null     object
 4   Gasto                12 non-null     object
 5   Ivestimento alocado  12 non-null     object
 6   Clicks               12 non-null     object
 7   Impressoes           12 non-null     object
 8   Sessões              12 non-null     object
 9   Conversao            12 non-null     object
 10  Receita              12 non-null     object
 11  Primeira compra      12 non-null     object
dtypes: object(12)
memory usage: 1.2+ KB

In [ ]:
import pandas as pd
from pandas_profiling import ProfileReport 
tabela1= pd.read_csv("quiz-sample.csv")
tabela1.columns=('ID', 'SEXO','IDADE','PELE','SEPELESENSIVEL','ESTADO','DATA','PREOCUPACAO','SETEMPREOCUPACAO')

#tabela1.describe()
#tabela1.drop(["ID"], axis = 1, inplace = True)
#tabela1.drop([""], in place = True)
#display(tabela1.iloc[:,[8]])
#display(tabela1)

#tabela.info()
#tabela1[tabela1.SETEMPREOCUPACAO==1]
#tabela1['PREOCUPACAO'].mode()
#tabela1['DATA'].mode()
#display(tabela1.iloc[:,[6]])
#tabela1['SETEMPREOCUPACAO'] = tabela1['SETEMPREOCUPACAO'].astype(int)
tabela1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213024 entries, 0 to 213023
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                213024 non-null  object
 1   SEXO              213024 non-null  object
 2   IDADE             213024 non-null  object
 3   PELE              213024 non-null  object
 4   SEPELESENSIVEL    213024 non-null  int64
 5   ESTADO            213024 non-null  object
 6   DATA              213024 non-null  object
 7   PREOCUPACAO       213024 non-null  object
 8   SETEMPREOCUPACAO  213024 non-null  int64
dtypes: int64(2), object(7)
memory usage: 14.6+ MB

In [ ]:
!pip install pandas-profiling

In [ ]:
display(tabela1)

,ID,SEXO,IDADE,PELE,SEPELESENSIVEL,ESTADO,DATA,PREOCUPACAO,SETEMPREOCUPAÇÃO
0,z85vnNzPszkToYzZaCiiqguiaoRFey3ssxUyrla0KwU=,Mulher,Entre 18 e 24 anos,Mista,0,Rio Grande do Sul - RS,2021-07-11,pp_bolsas_abaixo_olhos,0
1,qJX1qjRTIrxsLRk4Altj4fG2/UQi2A0DFyfUk7jnL6c=,Homem,Entre 18 e 24 anos,Normal,0,Paraíba - PB,2021-07-06,pp_bolsas_abaixo_olhos,1
2,15amHiG6TcaEqYX7irM7vWPhkrJWcQ+DEUzKPMkGLVc=,Homem,Entre 18 e 24 anos,Normal,1,Bahia - BA,2021-06-30,pp_bolsas_abaixo_olhos,0
3,MRzwwVtTWEJk7c93frTnXuSY7/VHrMZQBQxslvoAKiw=,Mulher,Entre 18 e 24 anos,Mista,1,Paraná - PR,2021-06-25,pp_bolsas_abaixo_olhos,1
4,MMYx9aY/oQljcIN1bL7e2/z1whUpHPPTX+8TBJPAWzM=,Mulher,Entre 18 e 24 anos,Não sei,1,Paraná - PR,2021-06-24,pp_bolsas_abaixo_olhos,0
...,...,...,...,...,...,...,...,...,...
213019,nGzZyKQrOMWr0iQ4gE//Gx8UK+10VTadD9R+WHIjraQ=,Mulher,Entre 35 e 39 anos,Oleosa,0,São Paulo - SP,2019-04-11,pp_nao_tenho_preocupacoes,0
213020,O9hfKxZ1IeEz4sgr/nncEW1TeIRQtOYbx3oUTPVnWY4=,Mulher,Entre 35 e 39 anos,Oleosa,0,Pará - PA,2020-04-09,pp_nao_tenho_preocupacoes,0
213021,2T4dtiohhaXXOucpsBEA+VhiUG2RTSEeup9hYAuoeMo=,Mulher,Entre 45 e 49 anos,Oleosa,0,Espírito Santo - ES,2020-02-24,pp_nao_tenho_preocupacoes,0
213022,klspdapSdyvVmOLBNLQH/ob4K7G1UD12xbMKy9CKXBg=,Mulher,Entre 40 e 44 anos,Mista,1,Espírito Santo - ES,2019-09-17,pp_nao_tenho_preocupacoes,0
213023,RAjxQiRQNjiAJe9P0xtUU/B2oil4sgYCFDKicJCGqS0=,Mulher,Entre 35 e 39 anos,Mista,1,São Paulo - SP,2019-09-02,pp_nao_tenho_preocupacoes,0

In [12]:
import pandas as pd
tabela2= pd.read_csv("orders-sample.csv")
#tabela2.columns=('ID', 'SEXO','IDADE','PELE','SEPELESENSIVEL','ESTADO','DATA','PREOCUPACAO','SETEMPREOCUPACAO')


display(tabela2)
#if tabela2['person_id'] == tabela1['ID']:
 # display(tabela1)
#tabela.info()

,product_A,product_B,product_C,product_D,product_E,processed_at,cancelled_at,financial_status,person_id,billing_city,billing_state
0,0,0,1,0,0,2020-01-01 08:02:29 UTC,NaN,paid,QmxkQi1OVAJCnHhfd7lRP7uRkniwxjo51BR6i4lPk/4=,São Paulo,São Paulo
1,0,0,1,1,0,2020-01-02 15:14:49 UTC,NaN,paid,aOSgAYOuG05sldfAHhP9EJAPoaRXHz3MApCvz/ywuMY=,São Paulo,São Paulo
2,0,0,0,1,0,2020-05-18 08:16:30 UTC,NaN,paid,UNcuZslJ0yQVIH7ZHqEw8imWvmGOHVEwWmo1m2Y11yE=,Aparecida do Taboado,Mato Grosso do Sul
3,0,0,2,0,0,2020-05-29 12:01:25 UTC,NaN,paid,a/HhG1GeKoJ4/HWNSYg0aIJjwGvQuacN8xzn1ETbNh8=,Jundiaí,São Paulo
4,0,1,1,0,0,2020-05-21 14:51:49 UTC,NaN,paid,JoyQclINSH2gCcTNjONezpqC1T1lnx0fbB9f2eDvTVc=,Paranaguá,Paraná
...,...,...,...,...,...,...,...,...,...,...,...
30226,0,0,2,0,0,2020-08-12 20:20:48 UTC,NaN,paid,nabYxzWdQ9hwAeA/BGLyBM36Z14686k8zWoKWaeRSWI=,Cabo Frio,Rio de Janeiro
30227,1,0,0,0,0,2020-08-10 17:14:57 UTC,2020-08-18 10:04:25 UTC,pending,XAJ/ltJjd+HKIR4O4GQtaYlUxgmfeyMnHxEVSsxVLWY=,São Paulo,São Paulo
30228,1,0,1,1,0,2020-08-10 13:49:39 UTC,2020-08-18 10:03:43 UTC,pending,V8zUkC/Gvbigh6qrdgneIOdHbT8GnB343675qz2n08E=,Taboão da Serra,São Paulo
30229,1,1,1,1,0,2020-08-13 18:54:57 UTC,NaN,paid,+rEtOYX7cGiGS5fGCQstN2pRVCWp4s6KCXFy6+qRh5g=,Brasília,Distrito Federal
30230,0,2,0,0,0,2020-05-18 20:10:15 UTC,2020-05-26 10:04:30 UTC,pending,joLvsbALaaCqC/WR+eNx+CvWKD9mQLbIhShaqmZ/YB0=,Canoas,Rio Grande do Sul